* {
  font-family: 'Inter', sans-serif;
}

header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0;
  background-color: #ffffff;
  padding-inline: 20px;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
}

nav {
  float: right;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 10px;
}

.hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-inline: 20px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    line-height: 1.5rem;
}

.projects-link {
    align-self: baseline;
    padding-inline: 10px;
    border-radius: 5px;
}

.projects-link a {
    font-weight: 800;
}

#photo {
    float: right;
}

a {
  color: #000000;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

.nav-link:hover {
  background-color: #333333;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}

#photo img {
  height: 400px;
  width: auto;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
}

.social-media-icons {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.social-media-icons img {
  width: 30px;
  height: 30px;
  margin: 0 10px;
}

.social-media-icons img:hover {
  opacity: 0.8;
}

footer p {
  text-align: center;
  font-size: 12px;
  color: #000000;
  margin-bottom: 0;
}
